@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import "tailwindcss";

@theme {
  --color-main-bg: oklch(0.99 0.0073 80.72);
  --color-main-bg-foreground: oklch(0.2 0 0);
  --color-primary: oklch(0.85 0.1763 106.75);
  --color-primary-foreground: oklch(0.45 0.0794 48.29);
  --font-main: "Times New Roman", Times, serif;
  --font-script: "Pinyon Script", cursive;
}
